---
import Render from '@/components/Render.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection, render } from 'astro:content';
import ImageArea from '@/components/ImageArea.astro';
import Carousel from '@/components/Carousel.astro';
import { images, prelaodImageMap } from '@/utils/images';

const posts = await getCollection('pages');
const page = posts.find((post) => post.data.tags.path === '');

if (page === undefined || page.body === undefined) throw new Error('404');

const contents = page.body.split('---');
---

<Layout>
  <section class="top-section">
    <div class="center">
      <h1 set:html={contents.at(0)} />
    </div>
    <Carousel images={images} />
  </section>

  <section>
    <ImageArea src={prelaodImageMap.hero} />
  </section>

  {
    contents.slice(1).map((content, i) => (
      <>
        <section>
          <ImageArea index={i} />
        </section>
        <section class="content">
          <Render markdown={content} style="no-underline" />
        </section>
      </>
    ))
  }
</Layout>

<style lang="scss">
  .top-section {
    width: 100%;
    height: calc(100vh - $header-height);

    .center {
      margin: auto;
      height: fit-content;
      width: fit-content;
      inset: 0;
      position: absolute;
      z-index: 2;

      h1 {
        color: prima;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px white;
      }
    }
  }

  .hero {
    width: 100%;
    height: 100%;
  }

  .content {
    max-width: 800px;
    padding: 70px 20px 80px;
    margin-inline: auto;
  }
</style>
