---
import Render from '@/components/Render.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import ImageArea from '@/components/ImageArea.astro';
import Carousel from '@/components/Carousel.astro';
import { IMAGES } from '@/utils/images';
import { getPosts } from '@/utils/contents';
import Card from '@/components/Card/index.astro';

const pages = await getCollection('pages');
const page = pages.find((post) => post.data.tags.path === '');
if (page === undefined || page.body === undefined) throw new Error('404');
const contents = page.body.split('---');

const recentPosts = await getPosts(3);
---

<Layout>
  <section class="top-section">
    <div class="center">
      <h1 set:html={contents.at(0)} />
    </div>
    <Carousel IMAGES={IMAGES} />
  </section>

  <section class:list={['content', 'recent-section']}>
    <h2>Recent Posts</h2>
    <div>
      {recentPosts.map((post) => <Card post={post} />)}
    </div>
    <a href="/posts" class="more">Show more</a>
  </section>

  {
    contents.slice(1).map((content, i) => (
      <>
        <section>
          <ImageArea index={i} />
        </section>
        <section class="content">
          <Render markdown={content} style="no-underline" />
        </section>
      </>
    ))
  }
</Layout>

<style lang="scss">
  .content {
    max-width: 800px;
    padding: 70px 20px 80px;
    margin-inline: auto;

    h2 {
      font-size: 2rem;
    }
  }

  .top-section {
    width: 100%;
    height: calc(100vh - $header-height);

    .center {
      margin: auto;
      height: fit-content;
      width: fit-content;
      inset: 0;
      position: absolute;
      z-index: 2;

      h1 {
        color: prima;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        text-shadow: 3px 3px white;
      }
    }
  }

  .recent-section {
    max-width: 1200px;
    text-align: center;

    & > div {
      display: grid;
      justify-content: center;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 40px 20px;
    }

    .more {
      text-decoration: none;
      color: $primary-200;
      font-size: 1.2rem;
      transition: all 0.3s;

      &:hover {
        color: $primary-300;
      }
    }
  }

  .hero {
    width: 100%;
    height: 100%;
  }
</style>
